.contenedor {
    background-color: black;
    display: flex;
    color: white;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.slider>span {
    font-size: 20px;
    display: block;
    font-weight: bold;
}

.slider {
    width: max-content;
    animation-name: slider;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.slider:hover {
    animation-play-state: paused;
}

@keyframes slider {

    0%,
    100% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(calc(100vw - 100%));
    }


}

main {
    margin: 0;
    padding: 0;
}